*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background:url(bg.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;

}
button{
    position: absolute;
    top: 1%;
    left: 2%;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    width: 100px;
    height: 60px;
    border-radius: 50px;
background: linear-gradient(145deg, #4baae1, #04771d);
   z-index: 1;
}
button:hover{
    width: 150px;
    height: 80px; 
    border-radius: 50px;
    box-shadow:  -10px -10px #000;
}
.section1{
    position: absolute;
    top: 1%;
    right: 2%;
    width: 500px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
}
.section2{
    position: absolute;
    top: 2%;
    right: 40%;
    width: 350px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 3px;
  line-height:20px;
    
    
}
.section3{
    position: absolute;
    top: 45%;
    right: 40%;
    width: 350px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 3px;
  line-height:20px;
}
img{
    position: absolute;
    bottom: 3%;
   width: 1000px;
   color: rgba(139, 139, 139, 0.486);
}
